body {
    background-color: rgb(222, 222, 223);
}

canvas {
    width: 100vw;
    height: 100%;
    cursor: none;
    background-color: white;
    border: 1px solid black;
    display: block;
}

.palette {
    position: absolute;
    margin-top: 100px;
    padding: 35px;
    left: 40px;
    top: 40px;
    text-align: center;
    z-index: 9;
    box-shadow: 5px 8px 50px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 8px 50px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 8px 50px 6px rgba(0, 0, 0, 0.75);
}

#mouse-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
}

#icon
{
  margin-left: 10px;
}
#icon:hover {
    width: 33px;
    height: 26px;
}

.tool{
    color: white;
    word-spacing: 5px;
}

.active {
    background-color: rgb(55, 142, 241);
    padding: 5px;
    border-radius: 5px;
}

#pencilBtn
{
  color:white;
}

#earserBtn
{
  color:white;
}

#clearBtn{
  color: white;
  word-spacing: 5px;
}

#clearBtn:hover
{
  background-color: rgb(55, 142, 241);
    border-radius: 5px;
}

#clearBtn:active
{
  background-color: rgb(91, 163, 245);
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 10px;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #sizeValue
  {
      color: white;
  }